{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel dashboard-panel'>
        <nav class='dashboard-menu'>
            <ul>
                <li class='dashboard-card'>
                    <a href='index.php?page=appliances-list' class='dashboard-card-content rounded'>
                        <i class='fa-solid fa-person-circle-plus'></i>
                        <h3 class='dashboard-menu-title'>Mes demandes de coaching ({{ appliancesCount['appliancesCount'] }})</h3>
                    </a>
                </li>
            
                <li class='dashboard-card'>
                    <a href='index.php?page=subscribers-list' class='dashboard-card-content rounded'>
                        <i class='fa-solid fa-chalkboard-user'></i>
                        <h3 class='dashboard-menu-title'>Mes coaching en cours ({{ subscribersCount['subscribersCount'] }})</h3>
                    </a>
                </li>

                <li class='dashboard-card'>
                    <a href='index.php?page=meetings-management' class='dashboard-card-content rounded'>
                        <i class='fa-solid fa-calendar-days'></i>
                        <h3 class='dashboard-menu-title'>Mes rendez-vous</h3>
                        {% if todayMeetingsData %}
                            <p>{{ todayMeetingsData | length }} rendez-vous  aujourd'hui.</p>
                        {% else %}
                            <p>Aucun rendez-vous aujourd'hui.</p>
                        {% endif %}
                    </a>
                </li>
                
                <li id='kitchen-management'>
                    <a href='index.php?page=ingredients-management' class='btn rounded large-btn'>
                        <i class='fa-solid fa-wheat-awn'></i>Mes ingrédients
                    </a>
                    
                    <a href='index.php?page=recipes-management' class='btn rounded large-btn'>
                        <i class='fa-solid fa-plate-wheat'></i></i>Mes recettes
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock pageContent %}