{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>Rechercher un ingrédient</h3>
        
        <form class='admin-form' method='post'>
            <select name='search-type'>
                <option value='' disabled selected hidden>Choisissez un type d'ingrédient</option>
            </select>

            <button class='btn circle-btn blue-bkgd' id='search-ingredient-btn'>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}