{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        {% set meal = '' %}
        {% for mealTranslation in mealsTranslations %}
            {% if mealData['meal'] == mealTranslation['english'] %}
                {% set meal = mealTranslation['french'] %}
            {% endif %}
        {% endfor %}
        
        {% set day = '' %}
        {% for weekDay in weekDaysTranslations %}
            {% if mealData['day'] == weekDay['english'] %}
                {% set day = weekDay['french'] %}
            {% endif %}
        {% endfor %}

        <h3>Edition du {{ meal }} du {{ day | lower }}</h3>
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}