form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input:not([type="submit"]),
select {
    background-color: inherit;
    margin: 1vh 0;
}

input {
    text-align: center;
    font-size: 16px;
}

input::placeholder {
    text-align: center;
    font-size: 14px;
}

.centered-input {
    text-align: center;
}

input,
select {
    padding: 1vh 1%;
}

input::placeholder,
input::-ms-input-placeholder,
select::placeholder,
select::-ms-select-placeholder {
	text-align: center; 
}

.tiny-btn,
.large-btn {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tiny-btn {
    width: 48%;
}

.tiny-btn p {
    text-align: center;
}

/*************************************
            Tablets design
*************************************/
@media (min-width: 768px) {
    input {
        font-size: 18px;
    }
    
    input::placeholder {
        font-size: 16px;
    }
}

/*************************************
            Desktop design
*************************************/
@media (min-width: 1024px) {
    form {
        width: 40%;
    }
    
    input:not([type="submit"]),
    select {
        margin-top: 1.2vmin;
        margin-bottom: 1.2vmin;
    }
    
    #input-helper-container {
        padding: 1vmin 2%;
    }
}