header {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#title-layer {
    align-items: center;
    display: flex;
    height: 11vh;
    justify-content: space-between;
    width: 100%;
}

#title-layer a {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

h1 {
    font-family: 'julius sans one';
    font-size: 6vmin;
    font-weight: 500;
    margin: 0;
}

#others-features-menu {
    display: none;
}

#dynamic-menu-button {
    padding: 20px;
    height: 11vh;
    width: 11vh;
    font-size: 40px;
}

.homepage-link {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 11vh;
    height: 11vh;
}

.homepage-link i {
    font-size: 40px;
}

#showcase-menu,
#page-name-container {
    background: url('./../../../../public/img/header-banner_640w.jpg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 16vh;
    justify-content: flex-end;
    width: 100%;
}

#showcase-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#showcase-menu a {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: calc(100% / 3);
}

.cloudy-bkgd {
    background-color: hsla(0, 0%, 100%, .6);
    color: hsla(0, 0%, 0%, 1);
}

.prev-page-btn i {
    font-size: 4.8vmin;
    color: hsla(0, 0%, 0%, 1);
}

/*************************************
            Tablets design
*************************************/
@media (min-width: 768px) {
    #title-layer {
        height: 10vh;
    }
    
    #logo {
        height: 80px;
        width: 80px;
    }
    
    h1 {
        font-size: 4vmin;
    }
    
    #title-layer i {
        font-size: 50px;
    }

    #dynamic-menu-button {
        padding: 20px;
        height: 10vh;
        width: 10vh;
    }

    #logo {
        height: 70px;
        width: 70px;
    }
    
    #showcase-menu,
    #page-name-container {
        height: 14vh;
    }
    
    #showcase-menu ul,
    #page-name-container > div {
        height: 70px;
    }
    
    #showcase-menu a {
        font-size: 20px;
        height: 60px;
    }
    
    .prev-page-btn i {
        font-size: 3.4vmin;
    }
}

/*************************************
            Desktop design
*************************************/
@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin: 0 auto
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 14vh;
        max-width: 2200px;
    }
    
    #title-layer {
        height: 14vh;
        max-width: 250px;
    }
    
    #logo {
        height: 70px;
        width: 70px;
        margin-left: 20px;
    }
    
    h1 {
        font-size: 28px;
    }
    
    #dynamic-menu-button {
        display: none;
    }
    
    #showcase-menu,
    #page-name-container {
        height: 6vh;
    }
    
    #showcase-menu {
        background: none;
        align-items: center;
        width: 440px;
        justify-content: center;
    }

    .prev-page-btn i {
        font-size: 4.8vmin;
        color: hsla(0, 0%, 100%, 1);
    }
    
    #showcase-menu a {
        border-radius: 15px;
        margin: 0;
        position: relative;
        padding: 0 4%;
        width: unset;
    }
    
    #showcase-menu > .blue-bkgd {
        background-color: inherit;
        color: hsla(0, 0%, 0%, 1);
        position: relative;
    }
    
    #showcase-menu > .blue-bkgd::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 60%;
        height: 2px;
        background-color: hsla(188, 87%, 30%, 1);
    }
    
    #others-features-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: fit-content;
    }
    
    #others-features-menu a:not(:last-child)::after,
    #showcase-menu a:not(:last-child)::after {
        content: "";
        border-right: 1px solid hsla(0, 0%, 0%, 1);
        position: absolute;
        right: 0;
        height: 30%;
        display: inline-block;
        vertical-align: middle;
    }
    
    #others-features-menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        padding: 0 1%;
        position: relative;
    }
    
    .other-features-link i {
        font-size: 24px;
    }

    #title-layer.connection-layer {
        width: 100%;
        max-width: none;
    }
    
    .homepage-link {
        height: 14vh;
        width: 14vh;
    }

    .prev-page-btn i {
        font-size: 28px;
    }
}