{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='showcase-panel showcase-content'>
        <div id='speech-container'>
            <p>Le contenu demandé n'est pas accessible pour le moment</p><br>
            
            <p>Repassez très bientôt pour voir le détail de nos programmes</p>

            <a href='index.php' class='btn rounded blue-bkgd'>Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}