<div class='connection-page-content'>
    <form>
        <input type='email' name='user-email' placeholder='adresse mail' required />
        <input type='text' name='password' placeholder='mot de passe' required />

        <div class='form-links'>
            <a href='index.php?page=password-retrieving' class='tiny-button'>
                Mot de passe oublié ?
            </a>
            <input type='submit' value='Connexion' class='tiny-button' />
            <a href='index.php?page=registering' class='large-button'>Créer mon compte</a>
        </div>
    </form>
</div>