<div class='connection-page-content'>
    <form>
        <input type='email' name='user-email' placeholder='adresse mail' required />

        <div class='form-links'>
            <input type='submit' value='Récupérer mon mot de passe' class='large-button' />
        </div>
    </form>
</div>