<div class='connection-page-content'>
    <form action='index.php?action=register-account' method='post' required >
        <input type='text' name='user-first-name' placeholder='prénom' required />
        <input type='text' name='user-last-name' placeholder='nom' required />
        <input type='email' name='user-mail' placeholder='adresse mail' required />
        <input type='password' name='user-password' placeholder='mot de passe' required />
        <input type='password' name='user-confirmation-password' placeholder='mot de passe (vérification)' required />

        <div class='form-links'>
            <input type='submit' value='Inscription' class='large-button' />
            <a href='index.php?page=login' class='large-button'>J'ai déjà un compte</a>
        </div>
    </form>
</div>