/***********************/
/*        FONTS        */
/***********************/

@font-face {
    font-family: 'julius sans one';
    src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'archivo narrow';
    src: url('../fonts/Archivo_Narrow/ArchivoNarrow-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'source sans pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('ttf');
}

/************************/
/*        THEMES        */
/************************/

.circle-btn,
.tiny-btn,
.large-btn,
input[type=submit],
.dashboard-btn {
    color: hsla(0, 0%, 100%, 1);
}

.cloudy-bkgd a,
figcaption {
    color: hsla(0, 0%, 0%, 1);
}

.wrong {
    color: hsla(0, 100%, 50%, 1);
}

.correct {
    color: hsla(120, 100%, 24.9%, 1);
}

header,
.back-to-dashboard-btn,
footer li {
    background-color: hsla(0, 0%, 100%, 1);
}

.purple-bkgd {
    background-color: hsla(261, 48%, 40%, 1);
}

.dark-purple-bkgd {
    background-color: hsla(261, 83%, 18%, 1);
}

.greyed-out-bkgd {
    background-color: hsla(0, 1%, 79%, 1);
}

.cloudy-bkgd {
    background-color: hsla(0, 0%, 100%, .6);
}

.red-bkgd {
    background-color: hsla(336, 100%, 29%, 1);
}

.dark-shaded-bkgd {
    background: linear-gradient(
        135deg,
        hsla(0, 0%, 0%, 1) 0%,
        hsla(200, 40%, 70%, .3) 45%,
        hsla(0, 0%, 50%, 0) 100%
    );
}

.light-shaded-bkgd {
    background: linear-gradient(
        162deg,
        hsla(0, 0%, 25%, 1) 0%,
        hsla(228, 33%, 60%, .45) 40%,
        hsla(0, 0%, 50%, 0) 70%,
        hsla(0, 0%, 50%, 0) 100%
    );
}

.btn {
    border: none;
    box-shadow: 5px 5px 5px 0px hsla(0, 0%, 0%, .65);
}

footer li {
    box-shadow: 3px 3px 3px 0px hsla(0, 0%, 0%, .5);
}

/*************************/
/*        GLOBALS        */
/*************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    font-family: 'source sans pro';
}

h1 {
    font-family: 'julius sans one';
    font-size: 6vmin;
}

#title-layer i {
    font-size: 10vmin;
}

#subtitle-layer {
    position: relative;
}

.back-to-dashboard-btn {
    align-items: center;
    display: flex;
    height: 51px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 51px;
}

li, a, input, select {
    font-family: 'archivo narrow';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
}

p {
    margin : 0;
}

a {
    text-decoration: none;
}

input::placeholder {
    font-style: italic;
}

.btn {
    padding: 17px 25px;
}

.rounded-btn {
    border-radius: 2vh;
}

.tiny-btn,
.large-btn {
    text-align: center;
}

.circle-btn {
    align-items: center;
    border-radius: 32px;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}

button,
input,
input::placeholder,
select {
    border: none;
}