<div class='speech-container'>
    <p class='coaching-speech'>
        Vous avez déjà testé ces régimes dont on vous vante les mérites sur Internet ?
    </p>
    <p class='coaching-speech'>
        Oui, ça ne marche jamais bien longtemps … vous reprenez très souvent le poids que vous avez perdu, vous ne vous sentez pas bien, vous sentez des baisses de moral. En bref, votre corps vous fait savoir qu'il n'apprécie pas du tout ce que vous lui infligez ...
    </p>

    <img src='./assets/images/banners/desperate-5011953_1920.jpg' alt='desperate-man' />

    <p class='coaching-speech'>
        Et si je vous disais qu'il existe des méthodes bien plus saines pour arriver à vos fins, et sans vous affamer ? C'est ce que je vous propose de découvrir au travers de séances de coaching en appel visio.
    </p>

    <a alt='découvrez le coaching nutritionnel' class='link-to-next-page'>Découvrez le coaching nutritionnel</a>
</div>