<footer>
    <ul>
        <li>
            <a href='https://www.facebook.com/dodiecoaching' aria-label='lien Facebook'>
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href='https://www.instagram.com/dodiecoaching/' aria-label='lien Instagram'>
                <i class='fa-brands fa-instagram'></i>
            </a>
        </li>
        <li>
            <a href='https://twitter.com/dodiecoaching' aria-label='lien Twitter'>
                <i class='fa-brands fa-twitter'></i>
            </a>
        </li>
    </ul>
    
    <p class='copyright-text'>2022-2026 | Copyright | ® Dodie Corp, tous droits réservés</p>
</footer>