<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} - Dodie Coaching</title>

    <!-- SEO -->
    <meta name="description" content="Dodie coaching app">
    <meta name="keyworks" content="nutrition, coach, dodie, food, eat, better, help, support">
    <meta name="author" content="Mathieu Jourdan">
    
    <!-- Social metas -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.dodiecoaching.m-jourdan.fr">
    <meta property="og:title" content="Dodie coaching">
    <meta property="og:description" content="Avec Dodie Coaching, réappropriez-vous votre corps">
    <meta property='og:creator' content="@Dodie_coaching"/>
    <meta property="og:locale" content="fr_FR">
    
    <meta name="twitter:title" content="Dodie_Coaching">
    <meta name="twitter:description" content="Réappropriez-vous votre corps">
    <meta name="twitter:url" content="http://www.projet5.m-jourdan.fr">
    <meta name="twitter:creator" content="@Dodie_coaching">
    
    <!-- Fontawesome icons and favicon -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'/>
    <link rel='icon'  href='./../public/img/favicon.png' type='image/png'>
    
    <!-- global CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'>
    <link rel='stylesheet' href='./../assets/css/globals/main.css' type='text/css'>
    
    <!-- custom CSS -->
    {% block styles %}{% endblock styles %}
</head>

<body>
    <header>
        <div id='title-layer'{% if appSection == 'connectionPanels' %} class='connection-layer'{% endif %}>
            <a href='index.php?page=presentation' aria-label="Revenir à la page d'accueil">
                <img src='./../public/img/logo.jpg' id='logo' alt='dodie coaching logo' />
                <h1>Dodie<br>Coaching</h1>
            </a>
            
            {% block header %}{% endblock header %}
        </div>
        
        {% block headerLayer %}{% endblock headerLayer %}
    </header>
    
    {% block pageContent %}{% endblock pageContent %}
    {% block footer %}{% endblock footer %}
    {% block scripts %}{% endblock scripts %}
</body>