/*********************************/
/*             THEME             */
/*********************************/

h2 { /* commun avec user-panels */
    font-size: 0.9em;
    font-weight: normal;
}

#title-layer i,
footer i {
    color: hsla(185, 51%, 47%, 1);
}

.btn {
    background-color: hsla(185, 51%, 47%, 1);
    height: 3vh;
    padding: 1vh 0;
}

#title-layer i { /* commun avec user-panels */
    font-size: 2.5em;
}

.dashboard-btn,
footer {
    background-color: hsla(185, 51%, 47%, 1);
}

.dashboard-btn,
footer p { /* commun avec user-panels */
    color: hsla(0, 0%, 100%, 1);
}

footer li { /* commun avec user-panels */
    background-color: hsla(0, 0%, 100%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

h2 { /* commun avec user-panels */
    display: flex;
    align-items: center;
    margin: 0 0 0 65px;
}

.admin-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 27vh 0 70px 0;
    padding: 1.5vh 10%;
}

.dashboard-panel { /* commun avec user-panels */
    justify-content: flex-start;
    height: calc(73vh - 70px);
}

.dashboard-card {
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 1vh 0;
    padding: 2vh 5%;
    text-align: center;
}

.dashboard-card :not(:last-child) {
    margin-bottom: 10px;
}

.dashboard-card :last-child {
    margin-bottom: 0px;
}

h3 {
    margin: 0;
}

.dashboard-card ul {
    list-style: disc;
    text-align: left;
    padding: 0 5%;
}

.dashboard-card li {
    margin-left: 0px;
}

.admin-link {
    margin: 0;
    padding: 2.5vh;
    border-radius: 2.5vh;
}