/*********************************/
/*             THEME             */
/*********************************/

#title-layer i,
.selected,
footer i {
    color: hsla(185, 51%, 47%, 1);
}

h4,
.day-list li,
.notes-list h4,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.btn,
.dashboard-btn,
footer {
    background-color: hsla(185, 51%, 47%, 1);
}

.red-bkgd {
    background-color: hsla(336, 100%, 29%, 1);
}

.orange-bkgd {
    background-color: hsla(9, 71%, 70%, 1);
}

.selected {
    background-color: hsla(0, 0%, 100%, 1);
}

.alert-box {
    background-color: hsla(45, 95%, 92%, 1);
}

.dashboard-card,
.alert-box {
    border: 1px solid hsla(0, 0%, 0%, 1);
}

.selected {
    border: 1px solid hsla(185, 51%, 47%, 1);
}

.date-container > input,
.program-build-form > input {
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.edit-icon {
    box-shadow: 3px 3px 8px hsla(0, 0%, 0%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

h2 {
    align-items: center;
    display: flex;
    font-size: 3.8vmin;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 0 65px;
}

.admin-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 27vh 0 70px 0;
    padding: 2vh 7%;
    position: relative;
    width: 100%;
}

.admin-form,
.admin-form > textarea,
.edit-note,
#meeting-slots {
    width: 100%;
}

.admin-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin-form > textarea {
    height: 20vh;
}

#add-note-btn,
#add-meeting-btn {
    bottom: 85px;
    left: 4%;
    position: fixed;
}

/**********************************/
/*           DASHBOARD            */
/**********************************/

.dashboard-card {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 0 1vh;
    padding: 1.5vh 5% 10px;
    text-align: center;
    width: 100%;
}

.dashboard-card * {
    margin: 0 0 10px;
}

.admin-panel > h3 {
    text-align: center;
}

.dashboard-card ul {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: circle;
}

.admin-panel li {
    margin-bottom: 2vh;
}

.admin-link {
    border-radius: 2.5vh;
    padding: 2.5vh;
}

.profile-panel ul,
.day-list,
.day-list li,
.notes-list,
.notes-list li {
    width: 100%;
}

/**********************************/
/*       APPLIANCES LIST        */
/**********************************/

.appliance-card {
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 0 1vh;
    padding: 1.5vh 5% 10px;
    text-align: center;
    width: 100%;
}

.appliance-card * {
    margin: 0 0 10px;
}

#appliance-decision-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.appliance-form textarea {
    margin-bottom: 2vh;
}

/************************************/
/*       APPLIANCE DETAILS        */
/************************************/

.appliance-details {
    padding: 0 10%;
    width: 100%;
}

#appliance-decision-box {
    margin-top: 2vh;
}

/***********************************/
/*       SUBSCRIBER PROFILE        */
/***********************************/

.sub-profile-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
    width: 100%;
}

.section-header {
    margin: 0 0 1vh;
    padding: 2vh 0 ;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

/**********************/
/*       NOTES        */
/**********************/

.associated-meeting {
    margin-bottom: 2vh;
    text-align: center;
}

.edit-note {
    margin: 0 0 2vh;
    padding: 0;
    position: relative;
}

.note-entry {
    overflow-wrap: break-word;
    padding-bottom: 45px;
    text-align: left;
}

.note-textarea {
    height: 15vh;
}

.edit-icon {
    align-items: center;
    border-radius: 20px;
    bottom: 0;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 40px;
}

.edit-icon i {
    font-size: 5vmin;
}

.save-note-btn {
    margin-top: 2vh;
}

/********************************/
/*     MEETINGS MANAGEMENT      */
/********************************/

.daily-meetings-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.meeting-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.edit-meeting {
    border-radius: 2.5vh;
    height: 7vh;
    text-align: center;
    width: 100%;
}

.selected {
    box-shadow: unset;
    margin-bottom: 1vh;
}

.meeting-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4vh;
}

.date-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.meeting-form label {
    margin: 0 5%;
}

.meeting-form > input {
    display: none;
}

#daily-meetings-list {
    list-style: inside;
    width: 100%;
}

#daily-meetings-list li {
    margin: 1vh 8%;
}

.alert-box {
    border-radius: 8px;
    bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px 20px;
    position: fixed;
    text-align: center;
    width: 90%;
}

/*******************************/
/*     SUBSCRIBER PROGRAM      */
/*******************************/

.meals-list {
    color:hsla(0, 0%, 0%, 1);
}

.meal-item {
    color: hsla(0, 0%, 0%, 1)
}