/*********************************/
/*             THEME             */
/*********************************/

#title-layer i,
footer i {
    color: hsla(185, 51%, 47%, 1);
}

footer p {
    color: hsla(0, 0%, 100%, 1);
}

.btn {
    background-color: hsla(185, 51%, 47%, 1);
}

.dashboard-btn,
footer {
    background-color: hsla(185, 51%, 47%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

h2 {
    align-items: center;
    display: flex;
    font-size: 4vmin;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 0 65px;
}

.admin-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 27vh 0 70px 0;
    padding: 2vh 7%;
    position: relative;
    width: 100%;
}

/**********************************/
/*           DASHBOARD            */
/**********************************/

.dashboard-panel {
    justify-content: flex-start;
}

.dashboard-card {
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 0 1vh;
    padding: 1.5vh 5% 10px;
    width: 100%;
}

.dashboard-card * {
    margin: 0 5% 10px;
}

.dashboard-card {
    text-align: center;
}

.dashboard-card ul {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: circle;
}

.dashboard-card li {
    margin-bottom: 4px;
}

.admin-link {
    border-radius: 2.5vh;
    padding: 2.5vh;
}