/*********************************/
/*             THEME             */
/*********************************/

/***** Text *****/
.homepage-link i,
footer p {
    color: hsla(261, 48%, 40%, 1);
}

.input-helper-dismiss-btn {
    color: hsla(46, 92%, 35%, 1);
}

h2,
input,
input::placeholder,
select,
.show-input-helper-btn i,
.notification-box p,
#token-signing-form p,
footer i {
    color: hsla(0, 0%, 100%, 1);
}

/****** Backgrounds ******/
#input-helper-container {
    background-color: hsla(45, 95%, 92%, 1);
}

footer {
    background-color: hsla(0, 0%, 100%, 1);
}

footer li {
    background-color: hsla(261, 48%, 40%, 1);
}

.light-to-dark-purple-bkgd {
    background: linear-gradient(
        135deg, 
        hsla(261, 71%, 64%, 1) 0%,
        hsla(261, 71%, 20%, 1) 100%
    );
}

.purple-to-blue-bkgd {
    background: linear-gradient(
        135deg, 
        hsla(260, 68%, 41%, 1) 0%,
        hsla(260, 68%, 41%, 1) 50%,
        hsla(261, 83%, 18%, 1) 100%
    );
}

/***** Border *****/
.input-helper-dismiss-btn {
    border: 1px solid hsla(46, 92%, 35%, 1);
}

.show-input-helper-btn {
    border: solid 2px hsla(0, 0%, 100%, 1);
}

input,
select {
    border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}

/********************************/
/*            GLOBALS           */
/********************************/

.connection-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 11vh - 70px);
    justify-content: center;
    margin: 11vh 0 70px 0;
    padding: 0 7%;
    position: relative;
}

form {
    width: 100%;
    padding: 3vh 0;
}

input::placeholder {
    text-align: center;
}

#input-helper-container {
    position: absolute;
    top: 10px;
    width: 80%;
}

#input-helper-container p {
    display: inline-block;
    max-width: 80%;
}

.input-helper-dismiss-btn,
.show-input-helper-btn {
    border-radius: 50%;
}

.input-helper-dismiss-btn {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}

h2 {
    margin: 0 2% 1.5vh;
    text-align: center;
}

div[class$='-input-container'] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.show-input-helper-btn,
.input-helper {
    height: 30px;
    width: 30px;
}

.show-input-helper-btn {
    margin: 0;
    margin-right: 3%;
    margin-bottom: 1.5vh;
}

input[type=email],
input[type=text],
input[type=password],
input[type=number],
select {
    width: 70%;
}

.input-helper {
    font-size: 8vmin;
    margin: 0;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-links {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 17vh;
    justify-content: space-between;
    margin-top: 1.5vh;
    padding: 0;
    width: 90%;
}

.tiny-btn,
.large-btn,
input[type=submit] {
    height: 7vh;
}

/*******************************/
/*        NOTIFICATIONS        */
/*******************************/

.notification-box {
    padding: 5vh 5% 2vh 5%;
}

.notification-box p {
    margin-bottom: 10%;
    text-align: center;
}

.notification-box .btn {
    margin-top: 2vh;
}

/****************************/
/*        TOKEN FORM        */
/****************************/

#token-signing-form p {
    margin: 2vh 10% 2vh 10%;
}

/*************************************
            Tablets design
*************************************/
@media (min-width: 768px) {
    .connection-panel {
        height: calc(90vh - 100px);
        margin: 10vh 0 100px 0;
    }

    .connection-panel input {
        text-align: center;
    }

    .show-input-helper-btn,
    .input-helper {
        width: 6vmin;
    }

    .show-input-helper-btn {
        height: 6vmin;
    }

    .input-helper {
        /* height: 100%; */
        font-size: 6vmin;
    }

    .form-links {
        margin-top: 3vh;
        font-size: 2.5vmin;
    }
}

/*************************************
            Desktop design
*************************************/
@media (min-width: 1024px) {
    .connection-panel {
        height: calc(86vh - 90px);
        margin: 14vh 0 90px 0;
        width: 100%;
    }

    form {
        padding: 3vh 20px;
    }

    .connection-panel h2 {
        font-size: 34px;
        margin: 0 2% 20px;
    }

    div[class$='-input-container'] {
        width: 100%;
    }

    .show-input-helper-btn, .input-helper {
        width: 40px;
    }
    
    .show-input-helper-btn {
        height: 40px;
        margin-bottom: 1.2vmin;
        margin-right: 7%;
    }

    .input-helper {
        font-size: 4vmin;
        margin: 0;
        margin-left: 7%;
    }

    .form-links {
        margin-top: 20px;
        width: 100%;
        height: unset;
    }

    .form-links a:last-child {
        margin-top: 4%;
    }

    #input-helper-container {
        width: 40%;
        max-width: 600px;
    }

    #input-helper-container p {
        font-size: 1.7vmin;
    }
    
    .input-helper-dismiss-btn {
        font-size: 22px;
    }
}