/*********************************/
/*             THEME             */
/*********************************/

.homepage-link i,
footer p {
    color: hsla(261, 48%, 40%, 1);
}

.input-helper-dismiss-btn {
    color: hsla(46, 92%, 35%, 1);
}

#input-helper-container {
    background-color: hsla(45, 95%, 92%, 1);
}

h2,
input,
input::placeholder,
select,
.show-input-helper-btn i,
.notification-box p,
#token-signing-form p,
footer i {
    color: hsla(0, 0%, 100%, 1);
}

footer {
    background-color: hsla(0, 0%, 100%, 1);
}

footer li {
    background-color: hsla(261, 48%, 40%, 1);
}

.light-to-dark-purple-bkgd {
    background: linear-gradient(
        135deg, 
        hsla(261, 71%, 64%, 1) 0%,
        hsla(261, 71%, 20%, 1) 100%
    );
}

.purple-to-blue-bkgd {
    background: linear-gradient(
        135deg, 
        hsla(260, 68%, 41%, 1) 0%,
        hsla(260, 68%, 41%, 1) 50%,
        hsla(261, 83%, 18%, 1) 100%
    );
}

.input-helper-dismiss-btn {
    border: 1px solid hsla(46, 92%, 35%, 1);
}

.show-input-helper-btn {
    border: solid 2px hsla(0, 0%, 100%, 1);
}

input[type=email],
input[type=text],
input[type=password],
input[type=number],
select {
    border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}

/********************************/
/*            GLOBALS            */
/********************************/

.connection-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 11vh - 70px);
    justify-content: center;
    margin: 11vh 0 70px 0;
    padding: 0 7%;
    position: relative;
}

form {
    width: 100%;
    padding: 3vh 0;
}

#input-helper-container {
    position: absolute;
    top: 10px;
    width: 80%;
}

#input-helper-container p {
    display: inline-block;
    max-width: 80%;
}

.input-helper-dismiss-btn,
.show-input-helper-btn {
    border-radius: 50%;
}

h2 {
    margin: 0 2% 1.5vh;
    text-align: center;
}

div[class$='-input-container'] {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.show-input-helper-btn,
.input-helper {
    height: 30px;
    width: 30px;
}

.show-input-helper-btn {
    margin: 0 3% 2vh 0;
}

input[type=email],
input[type=text],
input[type=password],
input[type=number],
select {
    width: 70%;
}

.input-helper {
    margin: 0 0 1vh 3%;
    font-size: 6vmin;
}

.form-links {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 17vh;
    margin-top: 1.5vh;
    padding: 0;
    width: 90%;
}

.tiny-btn,
.large-btn,
input[type=submit] {
    height: 7vh;
}

/*******************************/
/*        NOTIFICATIONS        */
/*******************************/

.notification-box {
    padding: 5vh 5% 2vh 5%;
}

.notification-box p {
    margin-bottom: 10%;
    text-align: center;
}

.notification-box .btn {
    margin-top: 2vh;
}

/****************************/
/*        TOKEN FORM        */
/****************************/

#token-signing-form p {
    margin: 2vh 10% 2vh 10%;
}