/*********************************/
/*             THEME             */
/*********************************/

#title-layer i,
.settings-btn i,
.recipe-btn i,
footer i {
    color: hsla(261, 48%, 51%, 1);
}

#previous-days-btn,
#next-days-btn,
#cancel-btn-container button,
.user-panel input[type=submit],
.nutrition-requests a,
.meals-list h5,
.daily-slots button,
.daily-slots li,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.dashboard-menu-title {
    color: hsla(0, 0%, 0%, 1);
    margin: 2vh 0 0 0;
    text-align: center;
    font-size: 4.3vmin;
    font-weight: lighter;
}

.red-bkgd {
    background-color: hsla(336, 100%, 29%, 1);
}

footer {
    background-color: hsla(261, 48%, 51%, 1);
}

#user-progress-graph {
    border-bottom: 2px solid hsla(0, 0%, 0%, 1);
    border-left: 2px solid hsla(0, 0%, 0%, 1);
}

input,
select {
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

h2 {
    align-items: center;
    display: flex;
    font-size: 3.8vmin;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 0 50px;
    padding-left: 15px;
}

.user-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 27vh 0 70px 0;
    padding: 3vh 5%;
    position: relative;
    width: 100%;
}

h3 {
    font-size: 22px;
    margin: 0 0 1.5vh;
}

form {
    width: 100%;
}

input[type=submit] {
    margin-top: 1vh;
}

.dashboard-panel h3:nth-child(3) {
    margin-bottom: 2vh;
    margin-top: 2.5vh;
}

.cancelation-alert {
    width: 40%;
}

.user-panel form {
    margin-bottom: 5vh;
}

/**********************************/
/*           DASHBOARD            */
/**********************************/

.dashboard-panel {
    height: calc(100vh - 11vh - 16vh - 70px);
}

.dashboard-menu ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.dashboard-menu li {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 15vh;
    background-color: hsla(261, 48%, 51%, 0.2);
    box-shadow: 3px 3px 3px 0 hsla(0, 0%, 0%, 0.6);
    margin: 0 5% 2vh 5%;
    border-radius: 8px;
}

.dashboard-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1vh 8%;
}

.dashboard-menu li i {
    color: hsla(30, 100%, 50%, 1);
    font-size: 6vmin;
}

.progress-graph-container,
#user-progress-graph {
    height: 22vh;
}

.progress-graph-container {
    position: relative;
    width: 90%;
    margin-top: 2vh;
}

#user-progress-graph {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

figcaption {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

/*****************************************/
/*           NUTRITION (MENU)            */
/*****************************************/

.meals-list-panel {
    padding: 2vh 0 3vh;
}

.nutrition-days-list {
    width: 90%;
}

.day-name {
    width: 100%;
    position: relative;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.day-name-content {
    display: flex;
    align-items: center;
}

.day-name-underline {
    flex-grow: 1;
    height: 1px;
    background-color: hsla(0, 0%, 0%, 1);
    margin-left: 10px;
}

.day-name h4 {
    font-size: 4.5vmin;
    margin: 0;
}

.nutrition-days-list > li {
    margin-bottom: 1vh;
    width: 100%;
}

.meals-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

.meals-list li {
    background-position: 50%;
    background-size: cover;
    height: 12vh;
    margin: 2px 1% 2px 1%;
    position: relative;
    min-width: 150px;
}

.breakfast-list-item {
    background-image: url('./../../../public/img/meals_pictures/breakfast.jpg');
}

.lunch-list-item {
    background-image: url('./../../../public/img/meals_pictures/lunch.jpg');
}

.diner-list-item {
    background-image: url('./../../../public/img/meals_pictures/diner.jpg');
}

.snack_1-list-item {
    background-image: url('./../../../public/img/meals_pictures/snack_1.jpg');
}

.snack_2-list-item {
    background-image: url('./../../../public/img/meals_pictures/snack_2.jpg');
}

.meals-list a {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.5vmin 8%;
}

.meals-list h5 {
    font-size: 6vmin;
    margin: 0;
    position: absolute;
    top: 5px;
    word-wrap: break-word;
}

.nutrition-requests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 0 0;
    padding: 0 5%;
    width: 100%;
}

.no-program-block {
    display: flex;
    flex-direction: column;
    padding: 0 7%;
}

.no-program-block p {
    margin-bottom: 2vh;
}

/*****************************************/
/*           NUTRITION (MEAL)            */
/*****************************************/

.portions-list {
    list-style: square inside;
    width: 100%;
}

.recipe-btn {
    display: inline-block;
}

.portions-list-item {
    list-style-type: square;
    padding: 2vh 4% 0;
}

.portions-list-item-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

/**************************************/
/*           SHOPPING LIST            */
/**************************************/

.shopping-list {
    width: 100%;
}

.shopping-list li {
    margin: 1.5vh 0;
}

.shopping-list label {
    margin-left: 10px;
}

input[type=checkbox] {
    transform: scale(1.3);
}

/*********************************/
/*           PROGRESS            */
/*********************************/

.progress-form-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input,
select {
    margin-left: 1%;
    margin-right: 1%;
}

.user-weight-input {
    width: 15%;
    min-width: 45px;
}

.progression-logs {
    padding: 0;
    width: 90%;
}

.progress-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 0;
    text-align: center;
    position: relative;
}

.progress-item:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 1px;
    background-color: black;
}

/*********************************/
/*           MEETINGS            */
/*********************************/

.scheduled-meeting-date {
    display: inline-block;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#cancel-appointment-btn-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 1vh;
    width: 100%;
}

#cancel-appointment-btn-container > div {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: center;
    margin: 0 5%;
    width: 40%;
}

.cancelation-alert p {
    text-align: center;
    margin: 0 5%;
}

#user-next-meeting {
    text-align: center;
}

.appointment-block { /* planning */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#meetings-day-list {
    display: flex;
    justify-content: center;
    padding: 0;
    width: calc(100% - 24vmin);
}

#meetings-day-list::-webkit-scrollbar {
    display: none;
}

.schedule-days-nav {
    display: flex;
    flex-direction: row;
    width: 12vmin;
}

#meetings-day-list > li {
    margin: 0 3%;
    min-width: 100px;
    text-align: center;
}

.daily-schedule {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.meeting-day {
    height: 5vh;
    margin: 0 0 1.8vh;
    width: 80%;
}

.daily-slots {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.daily-slots li {
    height: 55px;
    margin: .8vh 0;
    text-align: center;
    width: 100%;
}

.daily-slots button {
    height: 100%;
    width: 100%;
}

#no-available-meeting-message {
    margin-top: 2vh;
}

/*************************************
            Tablets design
*************************************/
@media (min-width: 768px) {
    .user-panel {
        margin: 24vh 0 100px 0;
    }
    
    .dashboard-panel {
        height: calc(100vh - 14vh - 10vh - 100px);
    }
    
    h2 {
        font-size: 2.6vmin;
        margin: 0 0 0 70px;
        padding-left: 3%;
        height: 100%;
    }
    
    .progress-graph-container {
        width: 60%;
    }

    .dashboard-menu {
        width: 100%;
    }
    
    .dashboard-menu ul {
        flex-direction: row;
        flex-wrap: wrap;
        height: 30vh;
        width: 100%;
    }
    
    .dashboard-menu li {
        width: 35%;
        height: 12vh;
    }

    .dashboard-menu li i {
        color: hsla(30, 100%, 50%, 1);
        font-size: 4vmin;
    }
    
    .dashboard-menu-title {
        margin: 1vh 0 0 0;
        font-size: 2.4vmin;
        font-weight: 400;
    }
    
    .progress-graph-container {
        width: 80%;
    }
    
    figcaption {
        font-size: 2.5vmin;
    }
    
    h3 {
        font-size: 4vmin;
    }
    
    .meals-list-panel h4 {
        font-size: 3.2vmin;
        margin: 0;
    }
    
    .nutrition-days-list > li {
        margin-bottom: 3vh;
    }
    
    .day-name-content {
        margin: 0 10%;
    }
    
    .meals-list {
        width: 80%;
        margin: 0 10%;
    }
    
    .meals-list li {
        height: 13vh;
        margin: 4px 1% 4px 1%;
        width: 48%;
        min-width: 180px;
    }
    
    .meals-list h5 {
        font-size: 4vmin;
    }
    
    .nutrition-requests {
        margin: 0vh 0 5vh;
        justify-content: flex-end;
        padding: 0 11% 0 11%;
    }
    
    #download-program-btn {
        width: 75px;
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .portions-list-item-content {
        font-size: 20px;
    }
    
    #progress-form {
        margin-bottom: 3vh;
    }
    
    .progress-form-inputs {
        display: flex;
    }
    
    input,
    select {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .user-weight-input {
        width: 20%;
    }
    
    .progress-item:not(:last-child)::after {
        left: 22%;
        width: 60%;
    }

    #meetings-day-list > li {
        width: 20%;
    }

    .meeting-day {
        font-size: 2.5vmin;
    }

    #previous-days-nav
    #next-days-nav {
        display: flex;
        flex-direction: row;
    }
    
    #previous-days-nav {
        justify-content: flex-start;
    }

    #next-days-nav {
        justify-content: flex-end;
    }
}

/*************************************
            Desktop design
*************************************/
@media (min-width: 1024px) {
    header {
        flex-direction: column;
        height: calc(14vh + 72px);
    }

    #title-layer {
        max-width: unset;
    }

    #page-name-container {
        background: none;
        border: 1px solid lightgrey;
        height: 72px;
    }
    
    h2 {
        font-size: 22px;
        margin: 0;
        margin-left: 50px;
    }

    .user-panel {
        margin: calc(14vh + 70px) 0 90px 0;
        max-width: 1400px;
    }

    .dashboard-panel {
        height: calc(100vh - 14vh - 70px - 90px);
        justify-content: space-around;
        align-items: center;
    }

    .dashboard-menu ul {
        height: unset;
    }

    .dashboard-menu li {
        width: 30%;
        margin: 0 3% 2vh 3%;
        height: 15vh;
    }

    .dashboard-menu i {
        font-size: 4vmin;
    }

    .dashboard-menu-title {
        font-size: 22px;
    }

    figcaption {
        font-size: 22px;
    }
    
    h3 {
        font-size: 28px;
        margin: 0;
        margin-bottom: 35px;
    }

    .meals-list-panel h4 {
        font-size: 24px;
    }

    .meals-list h5 {
        font-size: 26px;
    }

    .progression-logs {
        width: 50%;
    }

    .user-weight-input {
        width: 25%;
    }

    #cancel-appointment-btn-container > div {
        margin: 0 2%;
        width: 30%;
    }

    .meeting-day {
        font-size: 20px;
    }
}