/*********************************/
/*             THEME             */
/*********************************/
h2 {
    font-size: 0.9em;
    font-weight: normal;
}

h3 {
    font-size: 1.3em;
    margin: 2.5vh 0;
}

.member-panel h3:first-child {
    margin-top: 0;
}

#title-layer i,
footer i {
    color: hsla(268, 71%, 41%, 1);
}

#title-layer i {
    font-size: 2.5em;
}

.back-to-dashboard-btn {
    background-color: hsla(0, 0%, 100%, 1);
}

.settings-btn i {
    font-size: 2em;
}

figcaption {
    color: hsla(0, 0%, 0%, 1);
}

.dashboard-btn,
footer {
    background: linear-gradient(
        135deg, 
        hsla(261, 71%, 64%, 1) 0%,
        hsla(261, 71%, 20%, 1) 100%
    );
}

.dashboard-btn,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.dashboard-btn i {
    font-size: 1.2em;
}

footer li {
    background-color: hsla(0, 0%, 100%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

.title-layer {
    position: relative;
}

.back-to-dashboard-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
}

h2 {
    display: flex;
    align-items: center;
    margin: 0 0 0 65px;
}

.member-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 27vh 0 70px 0;
    padding: 3vh 10%;
}

.dashboard-panel {
    justify-content: center;
    height: calc(73vh - 70px);
}

.settings-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.settings-btn i {
    padding: 3vh;
}

.progress-graph-cnn,
#user-progress-graph {
    height: 20vh;
}

.progress-graph-cnn {
    width: 80%;
    position: relative;
}

#user-progress-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 2px solid hsla(0, 0%, 0%, 1);
    border-bottom: 2px solid hsla(0, 0%, 0%, 1);
}

figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: calc(39vh - 70px);
}

.dashboard-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 22vh;
    padding: 0;
    margin: 0;
}

.dashboard-menu li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0;
}

.dashboard-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 60px;
    text-align: center;
}

.btn span,
.dashboard-btn i {
    margin: auto 0;
}

.btn span {
    width: 65%;
    text-align: start;
}

form {
    width: 100%;
}

input,
select {
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.sided-fields {
    width: 145px;
    justify-content: space-between;
    
}

.full-length-fields {
    width: 100%;

}

.form-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
}

.user-weight-input {
    width: 50px;
}

select {
    box-sizing: border-box;
    width: 90px;
}

.report-day {
    width: 105px;
}

.report-time {
    width: 75px;
}

input[type=submit] {
    margin-top: 1vh;
}

.dashboard-panel h3:nth-child(3) {
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}

.delete-progress-item-btn {
    color: white;
    padding: 2vh;
    border-radius: 50%;
}

.progression-logs {
    width: 100%;
    padding: 0;
}

.progress-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1vh 0;
}

.report-weight {
    width: 45%;
}

.cancelation-alert {
    width: 40%;
}

#cancel-btn-container button,
.member-panel input[type=submit],
.member-panel-rounded-btn {
    height: 64px;
    color: hsla(0, 0%, 100%, 1);
}

.member-panel-rounded-btn {
    width: 64px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-panel-large-btn {
    width: max-content;
    padding: 0 20px;
    border: 0;
}

/*********************************/
/*           MEETINGS            */
/*********************************/

#cancel-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

#cancel-btn-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 64px;
}

.red-bkgd {
    background: linear-gradient(
        135deg, 
        hsl(336, 100%, 29%, 1) 0%,
        hsl(336, 100%, 29%, 1) 50%,
        hsl(336, 100%, 16%, 1) 100%
    );
}

.cancelation-alert p {
    text-align: center;
}

.appointment-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.appointment-days {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.appointment-days::-webkit-scrollbar {
    display: none;
}

.schedule-days-nav {
    width: calc((100% - 200px) / 2);
    display: flex;
    flex-direction: row;
}

.previous-days-nav {
    justify-content: flex-start;
}

.next-days-nav {
    justify-content: flex-end;
}

.previous-days-btn,
.next-days-btn {
    height: 40px;
    width: 40px;
    margin-top: 8px;
    border-radius: 50%;
    color:hsla(0, 0%, 100%, 1);
}

.next-days-btn {
    justify-self: flex-end;
}

.appointment-days > li {
    min-width: 100px;
    text-align: center;
    margin: 0 3%;
}

.daily-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting-day {
    height: 5vh;
    width: 80%;
    margin: 0 0 1.8vh;
}

.daily-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.daily-slots li {
    text-align: center;
    width: 100%;
    height: 55px;
    margin: 1.8vh 0;
    color: white;
}

.daily-slots button {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: inherit;
    border: none;
    color: white;
}

/*************************************************/
/*           NUTRITION PROGRAM (MENU)            */
/*************************************************/

.meals-list-panel {
    padding: 30px 0;
}

.nutrition-program-days-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.meals-list-panel h4 {
    margin: 0 0 2vh 5%;
    font-size: 1.2em;
}

.nutrition-program-days-list > li {
    width: 100%;
    margin-bottom: 2vh;
}

.meals-list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 24vh;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.meals-list li {
    width: 49%;
    height: 49%;
    margin: 2px 2px 2px 2px;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.breakfast-list-item {
    background-image: url('./../../../public/img/meals_pictures/breakfast.jpg');
}

.lunch-list-item {
    background-image: url('./../../../public/img/meals_pictures/lunch.jpg');
}

.diner-list-item {
    background-image: url('./../../../public/img/meals_pictures/diner.jpg');
}

.snacks-list-item {
    background-image: url('./../../../public/img/meals_pictures/snacks.jpg');
}

.meals-list a {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        162deg,
        hsla(0, 0%, 25%, 1) 0%,
        hsla(228, 33%, 60%, .45) 40%,
        hsla(0, 0%, 50%, 0) 70%,
        hsla(0, 0%, 50%, 0) 100%
    );
}

.meals-list h5 {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 6.5vmin;
    margin: 0;
}

.nutrition-program-requests {
    margin-top: 3vh;
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nutrition-program-requests a {
    padding: 17px;
    color: white;
}

/*-----------------------------------------------*/

/**************************************************/
/*           NUTRITION PROGRAM (MEALS)            */
/**************************************************/

.ingredients-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.ingredients-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.ingredient-picture {
    width: 150px;
    height: 100px;
    margin: 5px 30px 5px 0;
    object-fit: cover;
}

.ingredient-desc {
    width: 150px;
}

/*------------------------------------------------*/

/**************************************/
/*           SHOPPING LIST            */
/**************************************/

.shopping-list {
    margin: 0;
    padding: 0;
}

.shopping-list li {
    margin: 1vh 0;
}

.shopping-list label {
    margin-left: 10px;
}