/*********************************/
/*             THEME             */
/*********************************/

#dynamic-menu-button i,
.other-features-link i,
footer i {
    color: hsla(188, 87%, 30%, 1);
}

#close-menu-button,
.programs-list a,
.program-details,
.blue-bkgd,
.blue-bkgd a,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.blue-bkgd,
#next-showcase-page-link,
footer {
    background-color: hsla(188, 87%, 30%, 1);
}

.program-description {
    background-color: hsla(0, 0%, 0%, .55);
}

footer li {
    background-color: hsla(0, 0%, 100%, 1);
}

.menu-splitter {
    background-color: hsla(188, 92%, 54%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

.showcase-panel {
    display: flex;
    flex-direction: column;
    margin: 27vh 0 70px 0;
}

#speech-container {
    padding: 2.5vmin 0 0;
}

#speech-container p {
    margin: 1.5vmin 5%;
}

.showcase-question {
    align-self: flex-start;
    text-decoration: underline;
}

#speech-container {
    background-color: hsla(0, 0%, 100%, 0.5);
}

#speech-container img {
    height: 150px;
    margin: 20px 0;
    object-fit: cover;
    width: 100%;
}

#read-more-container img {
    display: none;
}

#next-showcase-page-link {
    width: fit-content;
    align-self: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.programs-list li,
.program-details {
    background-position: 50%;
    background-size: cover;
}

.monthly-program {
    background-image: linear-gradient(
        135deg,
        hsla(0, 0%, 0%, 1) 0%,
        hsla(200, 40%, 70%, .3) 45%,
        hsla(0, 0%, 50%, 0) 100%),
        url('./../../../public/img/program_backgrounds/monthly-sub_640.jpg');
}


.quarterly-program {
    background-image: linear-gradient(
        135deg,
        hsla(0, 0%, 0%, 1) 0%,
        hsla(200, 40%, 70%, .3) 45%,
        hsla(0, 0%, 50%, 0) 100%),
        url('./../../../public/img/program_backgrounds/quarterly-sub_640.jpg');
}

.halfyearly-program {
    background-image: linear-gradient(
        135deg,
        hsla(0, 0%, 0%, 1) 0%,
        hsla(200, 40%, 70%, .3) 45%,
        hsla(0, 0%, 50%, 0) 100%),
        url('./../../../public/img/program_backgrounds/halfyearly-sub_640.jpg');
}

.fa-clock {
    margin-right: 5px;
}

#read-more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    height: 90px;
}

/*************************/
/*     PROGRAMS LIST     */
/*************************/

.programs-list > li {
    min-height: calc((73vh - 70px) / 3);
    position: relative;
}

.program-summary {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.program-summary p,
.program-details p {
    font-size: 16px;
}

h2 {
    font-size: 40px;
}

.program-summary h2,
.program-details h2 {
    margin: 20px 20px;
}

.program-summary p {
    margin: 5px 20px;
}

.big-circle-btn {
    bottom: 30px;
    position: absolute;
    right: 30px;
    border-radius: 7vmin;
    height: 50px;
    width: 50px;
}

.big-circle-btn i {
    margin: 0;
    font-size: 20px;
}

/***************************/
/*     PROGRAM DETAILS     */
/***************************/

.program-details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(73vh - 70px);
    padding: 4vmin 5%;
}

#back-to-programs-list-btn i {
    margin-right: 10px;
}

.program-headers h2 {
    margin: 17px 0;
}

.program-headers p {
    margin: 1vh 0;
}

.program-description {
    border-radius: 15px;
    padding: 4vmin 8%;
}

.program-details a:last-child {
    align-self: flex-end;
}

/************************/
/*     SHOWCASE 404     */
/************************/

.centered-content {
    padding: 20px 25px 0;
    text-align: center;
}

/************************/
/*     DYNAMIC MENU     */
/************************/

.dynamic-menu-container {
    height: 100vh;
    position: fixed;
    width: 100%;
}

.blurry-layer {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
}

.dynamic-menu-layer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 99;
}

.close-menu-layer {
    display: flex;
    flex-direction: row;
    height: 11vh;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
}

.close-menu-layer button {
    height: 11vh;
    width: 11vh;
    font-size: 40px;
    padding: 20px;
}

#close-menu-button {
    color: white;
    font-size: 45px;
}

.dynamic-menu {
    display: flex;
    flex-direction: column;
    height: 89vh;
    justify-content: center;
    width: 100%;
}

.dynamic-menu * {
    width: 100%;
}

.dynamic-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dynamic-menu a {
    display: block;
    font-size: 6vmin;
    padding: 2vh 0;
}

.menu-splitter {
    align-self: center;
    border-radius: 2px;
    height: 0.5vmin;
    width: 50%;
}

/*************************************
            Tablets design
*************************************/
@media (min-width: 768px) {
    #speech-container p {
        margin: 10px 8%;
    }

    .monthly-program {
        background-image: linear-gradient(
            135deg,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(200, 40%, 70%, .3) 45%,
            hsla(0, 0%, 50%, 0) 100%),
            url('./../../../public/img/program_backgrounds/monthly-sub_1280.jpg');
    }
    
    
    .quarterly-program {
        background-image: linear-gradient(
            135deg,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(200, 40%, 70%, .3) 45%,
            hsla(0, 0%, 50%, 0) 100%),
            url('./../../../public/img/program_backgrounds/quarterly-sub_1280.jpg');
    }
    
    .halfyearly-program {
        background-image: linear-gradient(
            135deg,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(200, 40%, 70%, .3) 45%,
            hsla(0, 0%, 50%, 0) 100%),
            url('./../../../public/img/program_backgrounds/halfyearly-sub_1280.jpg');
    }

    #speech-container img {
        height: 210px;
    }

    #speech-container .btn {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    #read-more-container {
        padding: 0 0 11vh;
    }

    .showcase-panel {
        margin: 24vh 0 100px 0;
    }

    .programs-list > li {
        min-height: calc((76vh - 100px) / 3);
    }

    h2 {
        font-size: 5vmin;
    }

    .program-summary p,
    .program-headers p {
        font-size: 2.5vmin;
    }

    .program-summary p i {
        margin-right: 15px;
    }

    .program-description p {
        font-size: 20px;
    }

    .program-details {
        min-height: calc(76vh - 100px);
    }

    .program-description {
        margin: 2vh 0;
        padding: 3vh 5%;
        border-radius: 30px;
    }
    
    .big-circle-btn {
        border-radius: 40px;
        height: 80px;
        width: 80px;
    }

    .big-circle-btn i {
        font-size: 30px;
    }

    .close-menu-layer button {
        height: 10vh;
        width: 10vh;
    }

    .dynamic-menu a {
        font-size: 5vmin;
    }
}

/*************************************
            Desktop design
*************************************/
@media (min-width: 1024px) {
    .showcase-panel {
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 14vh auto 90px;
        width: 100%;
        max-width: 1400px;
        height: calc(86vh - 90px);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        border-left: 1px solid hsla(0, 0%, 0%, .65);
        border-right: 1px solid hsla(0, 0%, 0%, .65);
    }

    .monthly-program {
        background-image: linear-gradient(
            135deg,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(200, 40%, 70%, .3) 45%,
            hsla(0, 0%, 50%, 0) 100%),
            url('./../../../public/img/program_backgrounds/monthly-sub_1920.jpg');
    }
    
    
    .quarterly-program {
        background-image: linear-gradient(
            135deg,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(200, 40%, 70%, .3) 45%,
            hsla(0, 0%, 50%, 0) 100%),
            url('./../../../public/img/program_backgrounds/quarterly-sub_1920.jpg');
    }
    
    .halfyearly-program {
        background-image: linear-gradient(
            135deg,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(200, 40%, 70%, .3) 45%,
            hsla(0, 0%, 50%, 0) 100%),
            url('./../../../public/img/program_backgrounds/halfyearly-sub_1920.jpg');
    }
    
    .intro-panels {
        background: linear-gradient(
            hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0)),
            url('./../../../public/img/header-banner_1920w.jpg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #speech-container {
        width: 50%;
        border-radius: 50px;
        margin-right: 8%;
        padding: 3.5vmin;
        box-shadow: 5px 5px 5px 0px hsla(0, 0%, 0%, .3);
    }
    
    #speech-container img {
        display: none;
    }

    #read-more-container {
        width: 30%;
        height: unset;
        margin: 0;
        padding: 0;
    }

    #read-more-container img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        border-radius: 50px;
        border: 1px solid hsla(0, 0%, 0%, .65);
    }

    #next-showcase-page-link {
        text-align: center;
        margin: 0;
        margin-top: 2vh;
        width: 100%;
    }

    .programs-list {
        background: none;
        flex-direction: row;
    }

    .programs-list li {
        width: calc(100%/3);
        height: 100%;
        border: 1px solid hsla(0, 0%, 0%, .65);
    }

    .program-summary {
        text-align: center;
    }
    
    .program-summary h2 {
        font-size: 2.7rem;
        margin: 20px 20px;
    }

    .first-word {
        display: flex;
        justify-content: center;
    }

    .first-word::after {
        content: '\A';
        white-space: pre;
        display: block;
    }
    
    .program-summary p,
    .program-headers p {
        font-size: 2.2vmin;
    }

    .program-summary p {
        font-size: 1.2rem;
    }
    
    .big-circle-btn {
        border-radius: 40px;
        height: 80px;
        width: 80px;
    }

    .big-circle-btn i {
        font-size: 40px;
    }

    .program-details {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}