/*********************************/
/*             THEME             */
/*********************************/

#title-layer i,
.settings-btn i,
.recipe-btn i,
footer i {
    color: hsla(261, 48%, 51%, 1);
}

.previous-days-btn,
.next-days-btn,
#cancel-btn-container button,
.user-panel input[type=submit],
.nutrition-requests a,
.meals-list h5,
.daily-slots button,
.daily-slots li,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.menu-item-name {
    display: block;
    width: 40%;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
}

.red-bkgd {
    background-color: hsla(336, 100%, 29%, 1);
}

footer {
    background-color: hsla(261, 48%, 51%, 1);
}

#user-progress-graph {
    border-bottom: 2px solid hsla(0, 0%, 0%, 1);
    border-left: 2px solid hsla(0, 0%, 0%, 1);
}

input,
select {
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

h2 {
    align-items: center;
    display: flex;
    font-size: 3.8vmin;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 0 65px;
}

.user-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 27vh 0 70px 0;
    padding: 3vh 7%;
    position: relative;
    width: 100%;
}

h3 {
    font-size: 5vmin;
    margin: 0 0 2.5vh;
}

.btn span,
.dashboard-btn i {
    margin: auto;
}

form {
    width: 100%;
}

select {
    width: 90px;
}

input[type=submit] {
    margin-top: 1vh;
}

.dashboard-panel h3:nth-child(3) {
    margin-bottom: 2vh;
    margin-top: 2.5vh;
}

.cancelation-alert {
    width: 40%;
}

#cancel-btn-container button,
.user-panel input[type=submit] {
    height: 64px;
}

.user-panel form {
    margin-bottom: 5vh;
}

/**********************************/
/*           DASHBOARD            */
/**********************************/

.dashboard-panel {
    height: calc(73vh - 70px);
    justify-content: center;
}

.settings-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.settings-btn i {
    font-size: 9vmin;
    padding: 3vh;
}

.progress-graph-cnn,
#user-progress-graph {
    height: 15vh;
}

.progress-graph-cnn {
    position: relative;
    width: 80%;
}

#user-progress-graph {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

figcaption {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    height: calc(39vh - 70px);
    justify-content: center;
    width: 90%;
}

.dashboard-menu ul {
    display: flex;
    flex-direction: column;
    height: 22vh;
    justify-content: space-between;
    width: 100%;
}

.dashboard-menu li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;
}

.dashboard-btn {
    align-content: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    text-align: center;
    width: 100%;
}

.dashboard-btn i {
    font-size: 6vmin;
}

/*****************************************/
/*           NUTRITION (MENU)            */
/*****************************************/

.meals-list-panel {
    padding: 30px 0;
}

.nutrition-days-list {
    width: 100%;
}

.meals-list-panel h4 {
    font-size: 4.5vmin;
    margin: 0 0 2vh 5%;
}

.nutrition-days-list > li {
    margin-bottom: 2vh;
    width: 100%;
}

.meals-list {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.meals-list li {
    background-position: 50%;
    background-size: cover;
    height: 12vh;
    margin: 2px 1% 2px 1%;
    position: relative;
    width: 48%;
}

.breakfast-list-item {
    background-image: url('./../../../public/img/meals_pictures/breakfast.jpg');
}

.lunch-list-item {
    background-image: url('./../../../public/img/meals_pictures/lunch.jpg');
}

.diner-list-item {
    background-image: url('./../../../public/img/meals_pictures/diner.jpg');
}

.snack_1-list-item {
    background-image: url('./../../../public/img/meals_pictures/snack_1.jpg');
}

.snack_2-list-item {
    background-image: url('./../../../public/img/meals_pictures/snack_2.jpg');
}

.meals-list a {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.meals-list h5 {
    font-size: 6.5vmin;
    margin: 0 0 0 10px;
    position: absolute;
    top: 5px;
}

.nutrition-requests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    padding: 0 5%;
    width: 100%;
}

.nutrition-requests a {
    padding: 17px;
}

.no-program-block {
    display: flex;
    flex-direction: column;
    padding: 0 7%;
}

.no-program-block p {
    margin-bottom: 2vh;
}

/*****************************************/
/*           NUTRITION (MEAL)            */
/*****************************************/

.portions-list {
    width: 100%;
}

.recipe-btn {
    display: flex;
    flex-direction: row;
}

.portions-list-item,
.recipe-btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 35px;
    margin: 8px 0;
    padding: 0;
    width: 100%;
}

.recipe-btn span {
    font-size: 1.2em;
    margin-left: 10px;
}

/**************************************/
/*           SHOPPING LIST            */
/**************************************/

.shopping-list li {
    margin: 1vh 0;
}

.shopping-list label {
    margin-left: 10px;
}

/*********************************/
/*           PROGRESS            */
/*********************************/

.form-fields {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sided-fields {
    width: 145px;
}

.full-length-fields {
    width: 100%;
}

.user-weight-input {
    width: 50px;
}

.report-day {
    width: 105px;
}

.report-time {
    width: 75px;
}

.report-weight {
    width: 45%;
}

.progression-logs {
    padding: 0;
    width: 100%;
}

.progress-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 0;
    text-align: center;
}

/*********************************/
/*           MEETINGS            */
/*********************************/

#user-next-meeting {
    margin-top: 0;
    padding-top: 0;
}

#cancel-btn-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
    padding-top: 3vh;
}

#cancel-btn-container > div {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 40%;
}

.cancelation-alert p {
    text-align: center;
}

.appointment-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.appointment-days {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.appointment-days::-webkit-scrollbar {
    display: none;
}

.schedule-days-nav {
    display: flex;
    flex-direction: row;
    width: calc((100% - 200px) / 2);
}

.previous-days-nav {
    justify-content: flex-start;
}

.next-days-nav {
    justify-content: flex-end;
}

.previous-days-btn,
.next-days-btn {
    border-radius: 50%;
    height: 40px;
    padding: 10px;
    width: 40px;
}

.next-days-btn {
    justify-self: flex-end;
}

.appointment-days > li {
    margin: 0 3%;
    min-width: 100px;
    text-align: center;
}

.daily-schedule {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.meeting-day {
    height: 5vh;
    margin: 0 0 1.8vh;
    width: 80%;
}

.daily-slots {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.daily-slots li {
    height: 55px;
    margin: 1.8vh 0;
    text-align: center;
    width: 100%;
}

.daily-slots button {
    height: 100%;
    width: 100%;
    border-radius: 1.5vh;
}