.homepage-link i {
    font-size: 1.5em;
}

.connection-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 165px);
    margin: 95px 0 0 0;
}

.error-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    padding: 10px 0;
    margin-bottom: 30px;
}

.error-container p {
    text-align: center;
    margin: 0 10%;
    font-size: 0.8em;
}