/*********************************/
/*             THEME             */
/*********************************/
#title-layer i,
footer i {
    color: hsla(268, 71%, 41%, 1);
}

#title-layer i {
    font-size: 2.5em;
}

.back-to-dashboard-btn {
    background-color: hsla(0, 0%, 100%, 1);
}

h2 {
    font-size: 0.9em;
    font-weight: normal;
}

.settings-btn i {
    font-size: 2em;
}

figcaption {
    color: hsla(0, 0%, 0%, 1);
}

.dashboard-btn,
footer {
    background: linear-gradient(
        135deg, 
        hsla(261, 71%, 64%, 1) 0%,
        hsla(261, 71%, 20%, 1) 100%
    );
}

.dashboard-btn,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.btn span {
    font-size: 0.75em;
}

.dashboard-btn i {
    /* margin-left: 30%; */
    font-size: 1.3em;
}

footer li {
    background-color: hsla(0, 0%, 100%, 1);
}

/********************************/
/*           GLOBALS            */
/********************************/

.title-layer {
    position: relative;
}

.back-to-dashboard-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
}

h2 {
    display: flex;
    align-items: center;
    margin: 0 0 0 65px;
}

.member-panel-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(73vh - 70px);
    margin: 27vh 0 70px 0;
    padding: 3vh 8%;
}

.settings-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.settings-btn i {
    padding: 3vh;
}

.progression-graph-cnn,
#user-progression-graph {
    height: 20vh;
}

.progression-graph-cnn {
    width: 80%;
    position: relative;
}

#user-progression-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 2px solid hsla(0, 0%, 0%, 1);
    border-bottom: 2px solid hsla(0, 0%, 0%, 1);
}

figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: calc(39vh - 70px);
}

.dashboard-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 22vh;
    padding: 0;
    margin: 0;
}

.dashboard-menu li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0;
}

.dashboard-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 60px;
}

.btn span,
.dashboard-btn i {
    margin: auto 0;
}

.btn span {
    width: 60%;
}

form {
    width: 100%;
    padding: 2.5vh 0;
}

h3 {
    margin: 0;
}

input,
select {
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.form-fields {
    width: 100%;
    padding: 0 5%;
}

.form-fields input,
.form-fields select {
    height: 70%;
}

.tiny-btn,
.large-btn,
input[type=submit] {
    height: 8vh;
}

.user-weight-input {
    width: 26%;
}

select {
    box-sizing: border-box;
}

input[type=submit] {
    border: 0;
    margin-top: 1vh;
}

.rounded-btn {
    border-radius: 4vh;
}

table {
    width: 100%;
    padding: 2.5vh 0;
    border-collapse: collapse;
}

tr {
    height: 5vh;
}

.dashboard-panel h3:nth-child(3) {
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}