.speech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 270px 0 75px 0;
}

.showcase-speech {
    margin: 10px 5%;
}

.showcase-question {
    align-self: flex-start;
    text-decoration: underline;
}

.speech-container img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    margin: 20px 0;
}