/*********************************/
/*             THEME             */
/*********************************/

#dynamic-menu-button i ,
footer i {
    color: hsla(188, 87%, 30%, 1);
}

.programs-list a,
.program-details-container,
.blue-bkgd,
.blue-bkgd a,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.blue-bkgd,
.programs-list span,
footer {
    background-color: hsla(188, 87%, 30%, 1);
}

footer li {
    background-color: hsla(0, 0%, 100%, 1);
}

.glowy-bkgd {
    background: linear-gradient(
        135deg,
        hsla(0, 0%, 33%, .1) 0%,
        hsla(240, 23%, 61%, .45) 40%,
        hsla(0, 0%, 50%, 0) 70%,
        hsla(0, 0%, 50%, 0) 100%
    );
}

.program-description {
    border: 1px solid white;
}

/********************************/
/*           GLOBALS            */
/********************************/
.showcase-content {
    display: flex;
    flex-direction: column;
    height: calc(73vh - 70px);
    margin: calc(11vh + 16vh) 0 70px 0;
}

.showcase-content span i {
    font-size: 1.7em;
}

.showcase-error {
    padding: 30px;
}

.rounded-btn {
    border-radius: 3.5vh;
}

/*****************************************/
/*     PRESENTATION & COACHING PAGES     */
/*****************************************/
.speech-container p {
    margin: 10px 5%;
}

.showcase-question {
    align-self: flex-start;
    text-decoration: underline;
}

.speech-container img {
    width: 100%;
    height: 150px;
    margin: 20px 0;
    object-fit: cover;
}

.speech-container .btn {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 17px;
}

/***********************************************/
/*     PROGRAMSLIST & PROGRAMDETAILS PAGES     */
/***********************************************/
.programs-list,
.program-details-container {
    overflow-y: scroll;
}

.programs-list li,
.program-details-container {
    background-size: cover;
    background-position: 50%;
}

.monthly-program {
    background-image: url('../../../img/program_backgrounds/monthly-sub.jpg');
}

.quarterly-program {
    background-image: url('../../../img/program_backgrounds/quarterly-sub.jpg');
}

.halfyearly-program {
    background-image: url('../../../img/program_backgrounds/halfyearly-sub.jpg');
}

.showcase-content i {
    margin-right: 5px;
}
/*---------------------------------------------*/


/*******************************/
/*     PROGRAMS LIST LAYER     */
/*******************************/
.programs-list {
    align-items: normal;
    width: 100%;
    padding: 0;
}

.programs-list li {
    position: relative;
    min-height: calc((100vh - 11vh - 16vh - 70px) / 3);
}

.program-summary {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 1.7em;
}

.program-summary h2 {
    margin: 20px 20px;
}

.program-summary p {
    margin: 5px 20px;
}

.programs-list span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.programs-list span i {
    margin: 0;
}
/*-----------------------------*/


/*********************************/
/*     PROGRAM DETAILS LAYER     */
/*********************************/
.program-details-container {
    position: relative;
}

.program-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 20px;
}

.program-headers h2 {
    margin: 17px 0;
}

.program-headers p {
    margin: 5px 0;
}

.program-description {
    margin: 20px 20px 25px 20px;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 15px;
}

.program-details a:last-child {
    align-self: flex-end;
}
/*-------------------------------*/