/***** PRESENTATION & COACHING PAGES *****/

.speech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 245px 0 70px 0;
}

.showcase-speech {
    margin: 10px 5%;
}

.showcase-question {
    align-self: flex-start;
    text-decoration: underline;
}

.speech-container img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    margin: 20px 0;
}

/***** PROGRAMSLIST & PROGRAMDETAILS PAGES *****/

.programslist-container,
.programdetails-container {
    width: 100%;
    height: calc(100vh - 245px - 70px);
    padding: 0;
}

.programslist-container,
.programdetails-container {
    margin: 245px 0 0 0;
}

.programslist-container li,
.programdetails-container {
    position: relative;
}

.programslist-container li {
    height: calc(100% / 3);
}

.program-details {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.programslist-container img,
.programdetails-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.showcase-content button i {
    margin-left: 5px;
}

.program-details button,
.program-details h2
{
    margin: 20px 20px;
}

.program-details p {
    margin: 5px 20px;
}

/***** PROGRAMS LIST LAYER *****/

.programslist-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: hsla(188, 87%, 30%, 1);
    box-shadow: 0px 5px 10px 0px hsla(0, 0%, 0%, 0.5);
    border-radius: 50%;
}

.programslist-container span i {
    margin: 0;
}

/***** PROGRAM DETAILS LAYER *****/

.programdetails-container {
    height: calc(100vh - 245px - 70px);
}

.program-details {
    background: linear-gradient(
        135deg,
        hsla(0, 0%, 33%, .1) 0%,
        hsla(240, 23%, 61%, .45) 40%,
        hsla(0, 0%, 50%, 0) 70%,
        hsla(0, 0%, 50%, 0) 100%);
}

.prev-page-link,
.subscription-link {
    width: max-content;
    margin: 20px 20px 30px 20px;
}

.prev-page-link {
    display: flex;
}

.program-details i {
    margin-right: 5px;
}

.program-description {
    position: absolute;
    top: 230px;
    background-color: hsla(0, 0%, 0%, 0.5);
    margin: 10px 20px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
}

.subscription-link {
    position: absolute;
    bottom: 0;
    right: 0;
}