/***** FONTS *****/

@font-face {
    font-family: 'julius sans one';
    src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'archivo narrow';
    src: url('../fonts/Archivo_Narrow/ArchivoNarrow-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'source sans pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('ttf');
}

html, body {
    font-family: 'source sans pro';
}

h1 {
    font-family: 'julius sans one';
    font-size: 1.7em;
}

#title-layer i {
    font-size: 2.5em;
}

h2,
#static-menu li,
a {
    font-family: 'archivo narrow';
}

footer li i {
    font-size: 0.9em;
}

footer p {
    font-size: 0.8em;
}

/***** COLORS *****/

#title-layer i,
footer i {
    color: hsla(188, 87%, 30%, 1);
}

footer p {
    color: hsla(0, 0%, 100%, 1);
}

/***** COMMON PAGES LAYOUT *****/

html, body {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 1);
}

#title-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

h1 {
    display: block;
    width: 30%;
    margin: 0 0 0 40px;
}

#title-layer button {
    background-color: inherit;
    margin-right: 20px;
    padding: 20px;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/***** FOOTER *****/

footer {
    width: 100%;
    background-color: hsla(188, 87%, 30%, 1);
    margin: 0;
    padding: 10px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

footer li {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: hsla(0, 0%, 100%, 1);
    margin: 0 3px;
    border-radius: 5px;
    padding: 3px;
}

footer p  {
    text-align: center;
    margin: 5px 0;
}