@font-face {
    font-family: 'julius sans one';
    src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'archivo narrow';
    src: url('../fonts/Archivo_Narrow/ArchivoNarrow-VariableFont_wght.ttf') format('ttf');
}

/* fonts & fonts size */

html, body {
    font-family: 'archivo narrow';
}

h1 {
    font-family: 'julius sans one';
    font-size: 28px;
}

/* common pages layouts */

html, body {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

#title-layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
}

h1 {
    display: block;
    width: 30%;
    margin: 0 0 0 40px;
    padding: 0;
}

#title-layer i {
    margin-right: 40px;
    color: #0A7E91;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*** footer ***/

footer {
    margin: 0;
    padding: 10px 0;
    background-color: #0A7E91;
    width: 100%;
}

.social-medias-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social-medias-bar li {
    background-color: white;
    margin: 0 3px;
    border-radius: 5px;
    padding: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.social-medias-bar li i {
    color: #0A7E91;
    font-size: 0.9em;
}

footer p  {
    font-size: 0.8em;
    color: white;
    text-align: center;
    margin-top: 5px;
}