/***** SHOWCASE FONTS *****/

#static-menu li {
    font-size: 0.9em;
}

.programslist-container span i {
    font-size: 1.5em;
}

/***** SHOWCASE COLORS  *****/

.active-link a,
.program-details,
a[class$='-page-link'] {
    color: hsla(0, 0%, 100%, 1);
}

.inactive-link a {
    color: hsla(0, 0%, 0%, 1);
}

.next-page-link a {
    color: inherit;
}

/***** SHOWCASE PAGES LAYOUT *****/

#static-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./../../img/header-banner.jpg);
    background-size: 100% 150px, cover;
    height: 150px;
}

#static-menu ul {
    display: flex;
    height: 50px;
    margin: 0;
    padding: 0;
}

#static-menu li {
    width: 33.3%;
}

#static-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.active-link {
    background-color: hsla(188, 87%, 30%, 1);
}

.inactive-link {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.showcase-content {
    margin: 245px 0 0 0;
    z-index: 1;
}

a[class$='-page-link'] {
    background-color: hsla(188, 87%, 30%, 1);
    padding: 17px 30px;
    border-radius: 30px;
}

.next-page-link {
    margin: 20px 0 30px 0;
}

.next-page-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/***** COACHING PAGES LAYOUT *****/

.speech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-speech {
    margin: 10px 5%;
}

.showcase-question {
    align-self: flex-start;
    text-decoration: underline;
}

.speech-container img {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

/***** PROGRAM PAGE LAYOUT *****/

.programslist-container,
.program-container {
    width: 100%;
    height: 600px;
    padding: 0;
}

.programslist-container li,
.program-container {
    position: relative;
    width: 100%;
}

.programslist-container li {
    height: 200px;
}

[class$='-container'] img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.program-details {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.showcase-content button i {
    margin-left: 5px;
}

.program-details button,
.program-details h2
{
    margin: 20px 20px;
}

.program-details p {
    margin: 5px 20px;
}

/***** PROGRAMS LIST LAYER *****/

.programslist-container .program-details {
    background: linear-gradient(
        135deg, 
        hsla(180, 0% ,0%, 0.8) 0%,
        hsla(240, 23%, 61%, 0.45) 35%,
        hsla(0, 0%, 50%, 0.2) 50%,
        hsla(0, 0%, 50%, 0) 100%);
}

.programslist-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: hsla(188, 87%, 30%, 1);
    box-shadow: 0px 5px 10px 0px hsla(0, 0%, 0%, 0.5);
    border-radius: 50%;
}

.programslist-container span i {
    margin: 0;
}

/***** PROGRAM DETAILS LAYER *****/

.program-container {
    height: 600px;
}

.program-container .program-details {
    background: linear-gradient(
        135deg,
        hsla(0, 0%, 67%, 0.8) 0%,
        hsla(240, 23%, 61%, 0.45) 40%,
        hsla(0, 0%, 50%, 0) 70%,
        hsla(0, 0%, 50%, 0) 100%);
}

.prev-page-link,
.subscription-link {
    width: max-content;
    margin: 20px 20px 30px 20px;
}

.prev-page-link {
    display: flex;
}

.program-details i {
    margin-right: 5px;
}

.program-splitter {
    display: block;
    width: 30%;
    height: 2px;
    background-color: hsla(188, 87%, 30%, 1);
    margin: 10px 20px;
    border-radius: 1px;
}

.program-description {
    position: absolute;
    top: 240px;
    background-color: hsla(0, 0%, 0%, 0.5);
    margin: 10px 25px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
}

.subscription-link {
    position: absolute;
    bottom: 0;
    right: 0;
}