{% if requestedPage in showcasePanels %}
<nav id='static-menu'>
    <ul>
        <li class='{{ requestedPage == 'presentation' ? 'blue-bkgd' : 'cloudy-bkgd' }}'>
            <a href='index.php'>Présentation</a>
        </li>
        <li class='{{ requestedPage == 'coaching' ? 'blue-bkgd' : 'cloudy-bkgd' }}'>
            <a href='index.php?page=coaching'>Coaching nutrition</a>
        </li>
        <li class='{{ requestedPage in ['programslist', 'programdetails', 'showcase-404'] ? 'blue-bkgd' : 'cloudy-bkgd' }}'>
            <a href='index.php?page=programslist'>Formules</a>
        </li>
    </ul>
</nav>
{% else %}
<div id='page-name-cnn'>
    <div class='title-layer cloudy-bkgd'>
        {% if subPanel is defined %}
        <a href='index.php?page=dashboard' class='back-to-dashboard-btn'>
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        {% endif %}
        <h2>
            Mon tableau de bord
        {% if subPanel is defined %}
            > {{ subPanel }}
        {% endif %}
        </h2>
    </div>
</div>
{% endif %}