<header>
    <div id='title-layer'>
        <h1>Dodie Coaching</h1>

        {% if requestedPage != 'login' %}
        <button id='dynamic-menu-button'><i class='fas fa-2x fa-bars'></i></button>
        {% else %}
        <a href='index.php'><i class="fa-solid fa-house-chimney"></i></a>
        {% endif %}
        
    </div>

    {% if requestedPage != 'login' %}
    {% include 'templates/static-menu.twig' %}
    {% endif %}
</header>