<header>
    <div class='main-wrapper'>
        <h1>Dodie Coaching</h1>
        <i class='fas fa-2x fa-bars'></i>
    </div>
    <nav>
        <ul>
            <li class='active-link'>Présentation</li>
            <li>Coaching nutrition</li>
            <li>Formules</li>
        </ul>
    </nav>
</header>