form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input:not([type="submit"]),
select {
    background-color: inherit;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.centered-input {
    text-align: center;
}

input,
select {
    padding: 1vh 1%;
}

input::placeholder,
input::-ms-input-placeholder,
select::placeholder,
select::-ms-select-placeholder {
	text-align: center; 
}

.tiny-btn,
.large-btn {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tiny-btn {
    width: 48%;
    padding: 1vh 5%;
}

.tiny-btn p {
    text-align: center;
}

/*************************************
            Tablets design
*************************************/
@media (min-width: 768px) {
    input {
        font-size: 2.5vmin;
    }

    input::placeholder {
        font-size: 2.5vmin;
    }
}