form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input[type=email],
input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=time],
select {
    background-color: inherit;
    margin: 1.5vh 0;
    text-align: center;
}

input[type=email],
input[type=text],
input[type=password],
input[type=number] {
    padding: 1vh 1% 1vh 1%;
}

input[type=date] {
    padding: 1vh 1% .9vh 1%;
}

input[type=time] {
    padding: 1vh 1% .8vh 1%;
}

select {
    padding: 1vh 1% .7vh 1%;
}

input::placeholder,
input::-ms-input-placeholder,
select::placeholder,
select::-ms-select-placeholder {
	text-align: center; 
}

.tiny-btn,
.large-btn {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tiny-btn {
    width: 48%;
}

.tiny-btn p {
    margin: 0 10px;
    text-align: center;
}