header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#title-layer {
    align-items: center;
    display: flex;
    height: 11vh;
    justify-content: space-between;
}

#title-layer a {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

#logo {
    width: 50px;
    height: 50px;
}

h1 {
    font-family: 'julius sans one';
    font-size: 6vmin;
    font-weight: 800;
    margin: 0;
    width: 40%;
}

#dynamic-menu-button {
    margin-right: 20px;
    padding: 20px;
}

.homepage-link {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 6.5vh;
    justify-content: center;
    margin-right: 20px;
    padding: 2vh;
    width: 6.5vh;
}

#static-menu,
#page-name-cnn {
    background: url('./../../../public/img/header-banner.jpg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 16vh;
    justify-content: flex-end;
    width: 100%;
}

#static-menu ul,
#page-name-cnn > div {
    display: flex;
    height: 50px;
}

#static-menu li {
    width: 33.3%;
}

#static-menu a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

@media (min-width: 768px) {
    #title-layer {
        height: 10vh;
    }

    #logo {
        width: 90px;
        height: 90px;
    }

    h1 {
        font-size: 5vmin;
    }

    #title-layer i {
        font-size: 8vmin;
    }

    #static-menu,
    #page-name-cnn {
        height: 14vh;
    }

    #static-menu ul, #page-name-cnn > div {
        height: 70px;
    }

    #static-menu a {
        font-size: 2.8vmin;
    }

    p {
        font-size: 3vmin;
    }

    .fa-plus {
        font-size: 4vmin;
    }
}