<footer>
    <ul>
        <li>
            <a href=''>
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href=''>
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li><li>
            <a href=''>
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
    </ul>
    <p class='copyright-text'>2022-2026 | Copyright | ® Dodie Corp, tous droits réservés</p>
</footer>