{% extends 'common.html.twig' %}

{% block pageContent %}
    {{ app.session.get('name') }}
    <div class='user-panel dashboard-panel'>        
        <nav class='dashboard-menu'>
            <ul>
                {% for dashboardMenuItem in dashboardMenuItems %}
                <li>
                    <a href='index.php?page={{ dashboardMenuItem.link }}' class='dashboard-btn rounded'>
                        <i class="fa-solid {{ dashboardMenuItem.icon }}"></i>
                        <h3 class='menu-item-name'>{{ dashboardMenuItem.frenchTitle }}</h3>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        
        <div class='progress-graph-container'>
            <canvas id="user-progress-graph"></canvas>
            <figcaption>Objectif de poids : 86 kg</figcaption>
        </div>
    </div>
{% endblock pageContent %}