{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='user-panel'>
        {% if scheduledMeetingDate is iterable %}
            <h3>Votre prochain rendez-vous</h3>
            
            <p class='scheduled-meeting-date'>le {{ scheduledMeetingDate.slot_date | date('d/m/y \à H\\hi') }}</p>
            
            <div id='cancel-appointment-btn-container'>
                <button class='btn rounded-btn purple-bkgd' id='cancel-appointment-btn'>Annuler mon rendez-vous</button>
            </div>
        {% else %}
            <h3>Prendre un nouveau rendez-vous</h3>
            
            <form action='index.php?action=book-appointment' class='appointment-form' method='post'>
                <input type='text' name='meeting-date' placeholder='Veuillez choisir une date' id='user-next-meeting' disabled required />
                <input type='submit' value='Valider le rendez-vous' id='book-meeting-btn' class='btn rounded-btn purple-bkgd' disabled />
            </form>
        {% endif %}
        
        <h3>Prochaines dates disponibles</h3>
        <div class='appointment-block'>
            {% if meetingSlots %}
                <div id='previous-days-nav' class='schedule-days-nav'>
                    <button id='previous-days-btn' class='btn purple-bkgd small-circle-btn hidden'>
                        <i class='fa-solid fa-angle-left'></i>
                    </button>
                </div>
                
                <ul id='meetings-day-list' data-meetings='{{ meetingSlots | json_encode() }}'></ul>
                
                <div id='next-days-nav' class='schedule-days-nav'>
                    <button id='next-days-btn' class='btn next-days-btn small-circle-btn purple-bkgd hidden'>
                        <i class='fa-solid fa-angle-right'></i>
                    </button>
                </div>
            {% else %}
                <p id='no-available-meeting-message'>Plus aucun rendez-vous n'est pour le moment disponible.</p>
            {% endif %}
        </div>
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}