<div class='member-panel'>
    <h3>Prendre un nouveau rendez-vous</h3>
    <form action='index.php?action=get-new-appointment' class='appointment-form' method='post'>
        <input type='text' name='meeting-date' placeholder='Veuillez choisir une date' class='user-next-meeting' disabled />
        <input type='submit' value='Ajouter' class='btn purple-to-blue-bkgd' />

        <ul class='appointment-days'>
            <li>
                <h4>Lundi<br>22/08</h4>
                <ul class='daily-schedule'>
                    {# Javascript will listen button click event to get button id and complete the form input #}
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>16h</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>16h30</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>17h</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>17h30</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>18h</button>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Mardi<br>23/08</h4>
                <ul class='daily-schedule'>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>17h30</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>18h</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>18h30</button>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Mercredi<br>24/08</h4>
                <ul class='daily-schedule'>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>17h30</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>18h</button>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Jeudi<br>25/08</h4>
                <ul class='daily-schedule'>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>16h30</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>17h</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>17h30</button>
                    </li>
                    <li class='btn rounded-btn purple-to-blue-bkgd'>
                        <button>18h</button>
                    </li>
                </ul>
            </li>
        </div>
    </form>
</div>