<div class='member-panel'>
    <h3>Prendre un nouveau rendez-vous</h3>
    <form action='index.php?action=get-new-appointment' class='appointment-form' method='post'>
        <input type='text' name='meeting-date' placeholder='Veuillez choisir une date' class='user-next-meeting' disabled />
        <input type='submit' value='Ajouter' class='btn purple-to-blue-bkgd' />

        {% if meetingSlots is iterable %}
        <ul class='appointment-days'>
            {% for meetingDay, dailyMeetingSlot in meetingSlots %}
            <li>
                <h4 class='meeting-day'>{{ meetingDay }}</h4>
                {% if dailyMeetingSlot is iterable %}
                <ul class='daily-schedule'>
                    {% for meetingSlotTime in dailyMeetingSlot %}
                        <li class='btn rounded-btn purple-to-blue-bkgd'>
                            <button>{{ meetingSlotTime | date ('H') }}h{{ meetingSlotTime | date ('i') }}</button>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </div>

        {% else %}
        <p>Plus aucun rendez-vous n'est pour le moment disponible.</p>

        {% endif %}
    </form>
</div>