<div class='member-panel'>
    {% if memberScheduledMeeting is iterable %}
    <h3>Votre prochain rendez-vous</h3>
    <div>
        <p>{{ memberScheduledMeeting.slot_date }}
    </div>
    <div id='cancel-btn-container'>
        <button class='btn cancel-meeting-btn purple-to-blue-bkgd'>Annuler mon rendez-vous</button>
    </div>

    {% else %}
    <h3>Prendre un nouveau rendez-vous</h3>
    <form action='index.php?action=add-new-appointment' class='appointment-form' method='post'>
        <input type='text' name='meeting-date' placeholder='Veuillez choisir une date' id='user-next-meeting' disabled required />
        <input type='submit' value='Valider le rendez-vous' id='appointment-form-submit-button' class='btn purple-to-blue-bkgd' disabled />
    </form>
    {% endif %}

    <h3>Prochaines dates disponibles</h3>
    <div class='appointment-block'>
        {% if meetingSlots is not empty %}
        <div class='schedule-days-nav previous-days-nav'></div>

        <ul class='appointment-days' id='appointment-tab' data-meeting-slots='{{ meetingSlots | json_encode() }}'></ul>

        <div class='schedule-days-nav next-days-nav'></div>

        {% else %}
        <p>Plus aucun rendez-vous n'est pour le moment disponible.</p>

        {% endif %}
    </div>
</div>