<div class='member-panel'>
    <h3>Ajouter votre pesée</h3>
    <form action='index.php?action=add-weight-report' method='post'>
        <div class='form-fields'>
            <input type='number' step='.01' name='user-weight' placeholder='Poids' class='user-weight-input' required />
            <select name='report-date' id='date-selector' required>
                <option value=''>Date de pesée</option>
                <option value='current-weight'>A l'instant</option>
                <option value='old-weight'>Autre date</option>
            </select>
        </div>
        <input type='submit' value='Ajouter' class='btn purple-to-blue-bkgd' />
    </form>
    <h3>Vos derniers relevés</h3>
    {% if progressHistory is iterable %}
    <table class='progression-logs'>
        {% for progressHistoryItem in progressHistory %}
        <tr>
            <td>
                le {{ progressHistoryItem.report_date  | date('d/m/Y')}}<br>
                {{ progressHistoryItem.report_date  | date('à H:i')}}
            </td>
            <td>
                {{ progressHistoryItem.current_weight }} kg  
            </td>
            <td>
                <button class='btn progress-btn purple-to-blue-bkgd'>
                    <i class="fa-solid fa-ban"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class='no-progression'>Aucune progression n'a encore été enregistrée</p>
    {% endif %}
</div>