<div class='connection-panel light-to-dark-purple-bkgd'>
    {# {% if previousFormError is not empty %}
    <div class='error-container purple-to-blue-bkgd'>
        <p>{{ previousFormError }}</p>
    </div>
    {% endif %} #}

    <form action='index.php?action=log-account' method='post' class='purple-to-blue-bkgd'>
        <input type='email' name='user-email' placeholder='adresse e-mail' required />
        <input type='password' name='user-password' placeholder='mot de passe' required />

        <div class='form-links'>
            <a href='index.php?page=password-retrieving' class='btn tiny-btn purple-bkgd'>
                <span>Mot de passe oublié ?</span>
            </a>
            <input type='submit' value='Connexion' class='btn tiny-btn purple-bkgd' />
            <a href='index.php?page=registering' class='btn large-btn purple-bkgd'>
                <span>Créer mon compte</span>
            </a>
        </div>
    </form>
</div>