form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=email],
input[type=text],
input[type=password],
input[type=number],
select {
    margin: 1.5vh 0;
    padding: 1vh 5% 1vh 5%;
    background-color: inherit;
}

.form-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 1.5vh;
    padding: 0;
}

.tiny-btn,
.large-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.tiny-btn {
    width: 45%;
}

.tiny-btn p {
    margin: 0 10px;
    text-align: center;
}

.large-btn {
    width: 100%;
}