form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    padding: 25px 0 28px 0;
}

input[type=email],
input[type=text],
input[type=password] {
    width: 70%;
    margin: 15px 0;
    padding: 8px 10px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}

input,
input::placeholder {
    color: white;
}

.form-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 0 0;
}

.tiny-button,
.large-button,
input[type=submit] {
    height: 60px;
}

.tiny-button,
.large-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiny-button {
    width: 40%;
    margin: 0 15px 20px 15px;
}

.tiny-button p {
    margin: 0 10px;
    text-align: center;
}

.large-button {
    width: 100%;
    margin: 0px 15px 20px 15px;
}

input[type=submit] {
    padding: 0;
    border: none;
}