header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 1);
}

#title-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

h1 {
    width: 40%;
    margin: 0 0 0 40px;
}

#dynamic-menu-button {
    margin-right: 20px;
    padding: 20px;
    background-color: inherit;
    border: none;
}

.homepage-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 50%;
}