header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 1);
}

#title-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
}

h1 {
    width: 40%;
    margin: 0 0 0 40px;
}

#dynamic-menu-button {
    margin-right: 20px;
    padding: 20px;
    background-color: inherit;
    border: none;
}

.homepage-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding: 2vh;
    border-radius: 50%;
}

#static-menu,
#page-name-cnn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 16vh;
    background-image: url(./../../../img/header-banner.jpg);
    background-size: 100% 150px, cover;
}

#static-menu ul,
#page-name-cnn > div {
    display: flex;
    height: 50px;
}

#static-menu ul {
    margin: 0;
    padding: 0;
}

#static-menu li {
    width: 33.3%;
}

#static-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}