#static-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150px;
    background-image: url(./../../../img/header-banner.jpg);
    background-size: 100% 150px, cover;
}

#static-menu ul {
    display: flex;
    height: 50px;
    margin: 0;
    padding: 0;
}

#static-menu li {
    width: 33.3%;
}

#static-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}