{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='connection-panel light-to-dark-purple-bkgd'>
        <div class='notification-box purple-to-blue-bkgd'>
            <p>Si cette adresse mail vous appartient, vous recevrez dans les prochaines minutes un email afin de réinitialiser votre mot de passe.</p>
            
            <a href='index.php?page=login' class='btn large-btn purple-bkgd'>Retour à la connexion</a>
        </div>
    </div>
{% endblock pageContent %}