{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='connection-panel light-to-dark-purple-bkgd'>
        <div class='notification-box purple-to-blue-bkgd'>
            <p>Un mail contenant les instructions de réinitialisation de votre mot de passe vient de vous être envoyé.</p>
            <a href='index.php?page=login' class='btn large-btn purple-bkgd'>Connexion</a>
        </div>
    </div>
{% endblock pageContent %}