{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='connection-panel light-to-dark-purple-bkgd'>
        <form action='index.php?action=retrieve-password' method='post' class='purple-to-blue-bkgd'>
            <h2>Récupération de<br>mot de passe</h2>
            <div class='email-input-container'>
                <button class='show-input-helper-btn'>
                    <i class="fa-solid fa-question"></i>
                </button>

                <input type='email' name='user-email' placeholder='adresse e-mail' id='user-email' required />

                <div class='input-helper'>
                </div>
            </div>

            <div class='form-links'>
                <input type='submit' value='Réinitialiser mon mot de passe' class='btn large-btn purple-bkgd' />
                <a href='index.php?page=login' class='btn large-btn purple-bkgd'>Retour à la connexion</a>
            </div>
        </form>
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}