{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='connection-panel light-to-dark-purple-bkgd'>
        <div class='notification-box purple-to-blue-bkgd'>
            <p>Votre mot de passe a été modifié avec succès.</p>
            <a href='index.php?page=login' class='btn large-btn purple-bkgd'>Accéder à mon tableau de bord</a>
        </div>
    </div>
{% endblock pageContent %}