{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='showcase-panel speech-container centered-content'>
        <p>Le contenu demandé n'est pas accessible pour le moment</p><br>
        
        <p>Repassez très bientôt pour voir le détail de nos programmes</p>
        
        <a href='index.php' class='btn rounded-btn blue-bkgd'>Retour à l'accueil</a>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}