<div class='speech-container'>
    <p class='showcase-speech showcase-question'>
        Question : A qui s'adresse mes programmes ?
    </p>
    <p class='showcase-speech'>
        Simplement ... à tout le monde. La visio nous permet d'échanger en toute simplicité où que vous soyez.
    </p>

    <img src='app/img/showcase-pictures/coffee-break.jpg' alt='coffee' />

    <p class='showcase-speech showcase-question'>
        Question : Comment ça marche ?
    </p>
    <p class='showcase-speech'>
        Après vous être inscrit(e) sur le site, il vous suffit de compléter le formulaire sur votre espace afin d'être recontacter.<br/>
        Nous conviendrons alors de la date de notre premier suivi au cours duquel nous évaluerons ensemble votre objectif et votre besoin.
    </p>
    <p class='showcase-speech'>
        Par la suite, un programme nutritif personnalisé vous sera envoyé.<br/>
        A chaque nouvelle séance, celui-ci sera révisé afin de convenir au mieux à vos progrès.
    </p>

    <a href='./../index.php?action=getProgramsListPage' alt='découvrez mes programmes nutritionnels' class='link-to-next-page'>Mes programmes de suivi</a>
</div>