<ul class='programs-container'>
    <li>
        <img src='app/img/program-backgrounds/monthly-sub-background.jpg' alt='plat gastronomique' />
        <div class='program-details-layer'>
            <h2>Formule mois</h2>
            <p><i class="fa-solid fa-clock"></i>30 jours</p>
            <p>219€</p>
        </div>
    </li>
    <li>
        <img src='app/img/program-backgrounds/quarterly-sub-background.jpg' alt='plat gastronomique' />
        <div class='program-details-layer'>
            <h2>Formule trimestre</h2>
            <p><i class="fa-solid fa-clock"></i>90 jours</p>
            <p>649€</p>
        </div>
    </li>
    <li>
        <img src='app/img/program-backgrounds/halfyearly-sub-background.jpg' alt='plat gastronomique' />
        <div class='program-details-layer'>
            <h2>Formule 6 mois</h2>
            <p><i class="fa-solid fa-clock"></i>180 jours</p>
            <p>1199€</p>
        </div>
    </li>
</ul>