<div class='connection-page-content light-to-dark-purple-bkgd'>
    <form method='post' class='purple-to-blue-bkgd'>
        <input type='email' name='user-email' placeholder='adresse e-mail' required />

        <div class='form-links'>
            <input type='submit' value='Réinitialiser mon mot de passe' class='btn large-btn purple-bkgd' />
        </div>
    </form>
</div>