#title-layer i,
footer i {
    color: #0a7d8f;
}

.programs-list a,
.program-details-container,
.blue-btn,
.blue-btn a,
footer p {
    color: hsla(0, 0%, 100%, 1);
}

.cloudy-btn {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.cloudy-btn a {
    color: hsla(0, 0%, 0%, 1);
}

.blue-btn,
.programs-list span,
footer {
    background-color: hsla(188, 87%, 30%, 1);
}

footer li {
    background-color: hsla(0, 0%, 100%, 1);
}

.glowy-bkgd {
    background: linear-gradient(
        135deg,
        hsla(0, 0%, 33%, .1) 0%,
        hsla(240, 23%, 61%, .45) 40%,
        hsla(0, 0%, 50%, 0) 70%,
        hsla(0, 0%, 50%, 0) 100%
    );
}