#title-layer a,
footer li {
    background: linear-gradient(
        135deg, 
        hsla(261, 57%, 55%, 1) 0%,
        hsla(261, 47%, 27%, 1) 100%);
}

.homepage-link i,
footer i {
    color: hsla(0, 0%, 100%, 1);
}

footer {
    background-color: hsla(0, 0%, 100%, 1);
}

footer p {
    color: hsla(261, 47%, 27%, 1);
}