/***** SHOWCASE FONTS *****/

#static-menu li {
    font-size: 0.9em;
}

.programslist-container span i {
    font-size: 1.5em;
}

/***** SHOWCASE COLORS  *****/

#title-layer i {
    color: hsla(188, 87%, 30%, 1);
}

.active-link a,
.program-details,
a[class$='-page-link'] {
    color: hsla(0, 0%, 100%, 1);
}

.inactive-link a {
    color: hsla(0, 0%, 0%, 1);
}

a[class$='-page-link'] {
    background-color: hsla(188, 87%, 30%, 1);
}

.next-page-link a {
    color: inherit;
}

footer {
    background-color: hsla(188, 87%, 30%, 1);
}

footer li {
    background-color: hsla(0, 0%, 100%, 1);
}

footer i {
    color: hsla(188, 87%, 30%, 1);
}

footer p {
    color: hsla(0, 0%, 100%, 1);
}